.main{
  display: flex;
  width: 100vw;
  height: max-content;
  flex-direction: column;
  justify-content: center;
  
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center ;
  
}
h2{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  width: 50%;
  margin-bottom: 0px;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bolder;
  background-color: orange;
  width: 50%;
}
input{
  width: 50%;
  background-color: white;
  color: black;
}
ul{
  margin-top: 10px;
}
ul li{
  margin-bottom: 10px;
}
